@import url("commons.css");

.matchlist-page--header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem 10rem;
}

.matchlist-page--header__search-bar {
  display: flex;
  border: 1px solid #333333;
}

.matchlist-page--header__search-bar--select {
  width: 8rem;
  border: none;
  color: white;
  background-color: #333333;
  padding: 0 2rem;
  cursor: pointer;
}

.matchlist-page--header__search-bar--input {
  flex-grow: 1;
  border: none;
  text-align: right;
  padding: 0 2rem;
}

.matchlist-page--header__search-bar--btn {
  border: none;
  color: white;
  background-color: #333333;
  padding: 0 2rem;
  cursor: pointer;
}

.matchlist-page--content {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: 10rem auto 0;
}

.matchlist-page--content {
  display: flex;
  width: 80%;
  max-width: 1500px;
  margin: 10rem auto 0;
}

.matchlist-page--summoner-info {
  width: 30%;
  min-width: 300px;
  margin-right: 5%;
}
.matchlist-page--basic-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
}

.matchlist-page--basic-info > img {
  width: 7rem;
  height: 7rem;
}

.matchlist-page--basic-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchlist-page--basic-info__name {
  font-size: 2rem;
  font-weight: bold;
}

.matchlist-page--basic-info__level {
}

.matchlist-page--rank-info--card {
  background-color: #333333;
  color: white;
  display: flex;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
}
.matchlist-page--rank-info--card > img {
  width: 7rem;
  height: 7rem;
  display: flex;
}

.matchlist-page--rank-info--card .title {
}
.matchlist-page--rank-info--card .rank {
}

.matchlist-page--rank-info--card .static {
}

.matchlist-page--rank-info--card .ratio {
}
