<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./common/header.ejs') %>
    <link rel="stylesheet" href="style/main.css" type="text/css" />
  </head>
  <body>
    <section class="main">
      <article class="main--content">
        <h1 class="main--content__title">Leage of Legend Web Player</h1>
        <div class="main--content__search-bar">
          <select class="main--content__search-bar--select"></select>
          <input type="text" class="main--content__search-bar--input" />
          <button class="main--content__search-bar--btn">search</button>
        </div>
      </article>
    </section>
    <script type="module" src="javascripts/main.js"></script>
  </body>
</html>
