<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="matchList.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="matchlist-page">
      <article class="matchlist-page--header">
        <h2 class="matchlist-page--header__title">
          Leage of Legend Web Player
        </h2>
        <div class="matchlist-page--header__search-bar">
          <select class="matchlist-page--header__search-bar--select"></select>
          <input
            type="text"
            class="matchlist-page--header__search-bar--input"
          />
          <button class="matchlist-page--header__search-bar--btn">
            search
          </button>
        </div>
      </article>
      <article class="matchlist-page--summoner-info"></article>
      <article class="matchlist-page--matchlist"></article>
    </section>
    <script type="module" src="matchList.js"></script>
  </body>
</html>
